@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* animacao botao */
@keyframes wiggle-x {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate-wiggle-x {
    animation: wiggle-x 1.2s ease-in-out infinite;
  }
}
